/* .sidebar {
    position: fixed;
    background-color: rgb(189, 173, 153);
    width: 250px;
    padding: 10px; 
    z-index: 100;
    top: 0;
    bottom: 0;

}
.sidebar1 {
    position: fixed;
    background-color: rgb(244, 225, 203);
    width: 1900px;
    padding: 10px; 
    z-index: 90;
    top: 0;
    bottom: 650px;
}
#app {
    position: relative;
}

.content{
    position: absolute;
    top: 100px;
    right: 0;
    left: 250;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh)
}

@font-face {
    font-family: raleway_f;
    src: url(../javas/fonts/raleway-regular.woff2);
}

@font-face {
    font-family: raleway_f;
    src: url(../javas/fonts/raleway-black.woff2);
    font-weight: 900;
}

body {
    background-color: antiquewhite;
    color: blanchedalmond;
    font-family: raleway_f, sans-serif;
    line-height: 1.55;
}

.main-header {
    position: relative;
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layer {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}

.layers_base {
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
}

.layers_middle {
    transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
}

.layers_front {
    transform: translate3d(0, calc(var(--scrollTop) / 8), 0);
}

.layer_header {
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 3), 0);
}

.layer_title {
    font-size: calc(var(--index) * 2);
    letter-spacing: calc(var(--index));
}

.layer_podtitle {
    font-size: calc(var(--index));
    letter-spacing: calc(var(--index)*0.5);
}

.layer_caption {
    font-size: calc(var(--index)*4);
    letter-spacing: calc(var(--index) / 4);
}

.main-article {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}